[submodule "DESARROLLO_VII_PROYECTO_HOTELWEB"]
	path = DESARROLLO_VII_PROYECTO_HOTELWEB
	url = https://github.com/joshDev27/DESARROLLO_VII_PROYECTO_HOTELWEB.git
[submodule "PARCIALES/PARCIAL_2"]
	path = PARCIALES/PARCIAL_2
	url = https://github.com/Milagros-Alonzo/PARCIAL_2.git
